#table_chart_container {
  max-height: 40px;
  max-width: 200px;
}

.column_expanded {
  display: block;
  height: 100vh;
}

.column_collapsed {
  display: none;
}

.page_row {
  margin: 1rem;
}

.tableHeader:hover{
cursor: pointer;
}

.container_card {
  border: 1px solid var(--border);
}

.changeDown {
  color: red;
}

.changeUp {
  color: green;
}
