#chart {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: .5rem;
}

#chart_container {
  width: 80%;
  /* border: 1px solid var(--border); */
  /* max-height: 80vh; */
  height: 78vh;
  border-radius: .5rem;
  margin-left: 1rem;
  padding: 1rem;
  background-color: var(--modal);

}

#table_chart_container {
  max-height: 40px;
  max-width: 200px;
}

.column_expanded {
  display: block;
}

.column_collapsed {
  display: none;
}

#line_selector {
  width: 20%;
  min-width: 15rem;
  max-height: 78vh;
  /* border: 1px solid var(--border); */
  border-radius: .5rem;
  background-color: var(--modal);
  gap: .5rem
}

#line_selector.expanded {
  width: 100%;
}

#line_selector table {
  /* table-layout: fixed; */
}

#line_selector th {
  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.page_row {
  margin: 1rem;
}

.tableHeader:hover{
cursor: pointer;
}

.lineRow {
  font-size: .7rem;
}

.lineRow:nth-child(odd) {
  background-color: var(--button);
}

.container_card {
  border: 1px solid var(--border);
}

#invalidData {
  border-radius: .5rem;
  width: calc(100% - 2rem);
  height: 70vh;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#invalidData p {
  margin: auto;
  width: max-content;
  text-align: center;
}

.changeDown {
  color: red;
}

.changeUp {
  color: green;
}
