@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --bg: #f3eee2;
  --highlight: rgb(118, 165, 197);
  --button: rgb(230, 234, 236);
  --border: rgb(156, 156, 144);
  --modal: #f8f6f1;
  --light: rgb(247, 247, 242);
  --text: rgb(47, 47, 47);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Overpass Mono Variable', sans-serif;
}

.pane {
  background-color: var(--modal);
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}

a {
  color: #0fada8;
}

a:hover {
  opacity: 0.8;
}

legend {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

label {
  font-size: 0.875rem;
}

input,
select {
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
}

button,
.button {
  background-color: #033056;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
}

button:hover,
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

td {
  padding: 0 0.5rem;
}

.recolor-white {
  filter: invert(100%) sepia(0%) saturate(226%) hue-rotate(229deg)
    brightness(118%) contrast(100%);
}

.toggle-group {
  display: flex;
  gap: 2px;
}

.toggle-group-item {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  user-select: none;
  width: 2.25rem;
}

.toggle-group-item:first-child {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.toggle-group-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.toggle-group-item:hover {
  background-color: #eee;
}

.toggle-group-item[data-state='on'] {
  background-color: #033056;
  color: #fff;
}

.toggle-group-item[data-state='on'] img {
  @apply recolor-white;
}

/*
 * Used to add sort arrows.
 * Source: https://stackoverflow.com/questions/17639562/add-sorting-arrows-to-th-like-table-sorter
 */
.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 10px;
  border: 7px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: var(--border);
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: var(--border);
}

.changeDown {
  color: red;
}

.changeUp {
  color: green;
}
