#dateSelector {
  display: flex;
  margin: 1rem;
}

#dateSelector select {
  border: 0.5px solid grey;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: .25rem;
}

#dateRangeSelector,
#dayOfWeekSelector {
  max-width: max-content;
  display: flex;
}

#dayOfWeekSelector ul {
  display: flex;
}

.dateRange,
#dayOfWeekSelector {
  background-color: white;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 1rem;
}

.dateRange {
  margin-right: 1rem;
}

/*
    Used to add sort arrows.
    Source: https://stackoverflow.com/questions/17639562/add-sorting-arrows-to-th-like-table-sorter
 */
.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 10px;
  border: 7px solid transparent;
}
.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp {
  padding-left: 20px;
}
