#dateSelector {
  display: flex;
  margin: 1rem;
}

#dateSelector select {
  border: 0.5px solid grey;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: .25rem;
}

#dateRangeSelector,
#dayOfWeekSelector {
  max-width: max-content;
  display: flex;
}

#dayOfWeekSelector ul {
  display: flex;
}

.dateRange,
#dayOfWeekSelector {
  background-color: white;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 1rem;
}

.dateRange {
  margin-right: 1rem;
}

/*
    Used to add sort arrows.
    Source: https://stackoverflow.com/questions/17639562/add-sorting-arrows-to-th-like-table-sorter
 */
.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 10px;
  border: 7px solid transparent;
}
.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp {
  padding-left: 20px;
}


#line_selector {
  gap: .5rem
}


/* searching and filtering */

#filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(236, 241, 245);
  padding: 1rem;
  border-radius: .5rem;
}

#line_search {
  width: 100%;
  max-width: 20rem;
  padding: .25rem 0;;
  display: flex;
  font-size: .8rem;
}

#line_search svg {
  margin-top: .4rem;
}

#line_search input {
  border: .5px solid grey;
  border-radius: .5rem;
  padding: .25rem;
  width: 100%;
  margin-bottom: .5rem;
  }
  
  .search_bar {
    width: 100%;
    max-width: 20rem;
  }


.CheckboxRoot {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--black-a7);
  border: .5px solid grey;
}

.CheckboxRoot:hover {
  background-color: var(--violet-3);
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 1px black;
}



#line_filters {
  padding: .5rem 0;
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#line_filters label{
  display: flex;
  margin: 0 1rem 0 .3rem ;
}

#line_filters input{
  margin-right: .25rem;
}